.box {
  border: 1px solid #ebedf0;
  border-radius: 2px;
  position: relative;
  padding: 18px 32px;
  font-size: 14px;
  color: #314659;
  line-height: 2;
}
.box-title {
  position: absolute;
  top: -14px;
  padding: 1px 8px;
  margin-left: -8px;
  color: #777;
  background: #fff;
  font-weight: bold;
  font-size: 15px;
}
